[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "~=0.10.5"
mujoco-py = "==1.50.1.56"
tensorflow-gpu = "*"
numpy = "~=1.14.5"
seaborn = "*"
patchelf = "*"

[dev-packages]

[requires]
python_version = "3.6"
